[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
opencv-python = "*"
numpy = "*"
firebase-admin = "*"
pyrebase = "*"
python-dotenv = "*"

[dev-packages]

[requires]
python_version = "3.7"
